<div class="home__container">
    <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/98af148cb3f2469d4268eb15b235c255eeeec1757eda1fd6.png?w=230&thumb=false"
    gameLabel="DIGITAL DELUXE EDITION"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 349,90"
    >
    </app-card>

    <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/3005/6de6b1c4b0c475b5c28fd2011655ab8206ed846926fa1671.png?w=230&thumb=false"
    gameLabel="DELUXE EDITION"
    gameType="DISC | PS5"
    gamePrice="349,90"
    >
    </app-card>

    <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202309/0521/b6a1c3a05915412cc9f41d8c46aebdcd496e70a2b8a4f928.png?w=230&thumb=false"
    gameLabel="ULTIMATE EDITIONN"
    gameType="BLU-RAY | PS4 PS5"
    gamePrice="549,50"
    >
    </app-card>
</div>

